spring:
  application:
    name: book-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
server:
  port: ${SERVER_PORT}

USER_SERVICE_URL: ${USER_SERVICE_URL}
PROPERTY_SERVICE_URL: ${PROPERTY_SERVICE_URL}