spring:
  application:
    name: property-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
  cloud:
    azure:
      storage:
        blob:
          connection-string: ${AZURE_STORAGE_CONNECTION_STRING}
          container-name: property-images
          endpoint: ${AZURE_STORAGE_ENDPOINT}

server:
  port: ${SERVER_PORT}